.btn, .btn--filled, .btn--secondary{
  border-radius: $base-border-radius;
  padding: ($button-height * .2) ($button-height * .6) ($button-height * .2);
}

.btn--secondary {
  @extend %btn;
  border-color: map-get($colors, "light-tertiary");
  color: map-get($colors, "light-tertiary");
}