// .btn, button {
// 	margin-bottom: $base-spacing-unit;
// }

.btn, .btn--filled, .btn--secondary{
  border-radius: $base-border-radius;
	font-weight: 700;
  padding: ($button-height * .2 - 1) ($button-height * .6) ($button-height * .2 + 1);
}

.btn--secondary {
  @extend %btn;
  border-color: map-get($colors, "light-tertiary");
  color: map-get($colors, "light-tertiary");

  &:hover {
  	border-color: map-get($colors, "primary");
  }
}
