

$use-old-namespace: false; // dont use hanheld-<rule>
$use-new-namespace: true; // do use <rule>@handheld

$base-font-size:      16px;
$base-border-radius:  3px;
$base-border-size:    1px;
$base-page-width:     1180px;
$base-font-family:    "Open Sans", sans-serif;


// colors taken from Rock
// https://github.com/NewSpring/Rock/blob/master/RockWeb/Themes/Rock/Styles/_variables.less

$colors: extend($colors, (
  "primary": #ee7624, // rock orange
  "secondary": #282526, // rock brown
  "tertiary": #c2b8a7, // rock tan


  "dark-primary": #282526,
  "dark-secondary": lighten(#000, 13.5%),
  "dark-tertiary": lighten(#000, 33.5%),

  "light-primary": #ffffff,
  "light-secondary": rgb(246,246,246),
  "light-tertiary": rgb(206,204,204),
  
  "input-help": #505050,

  "alert": #C09853,
  "alert-bg": #FCF8E3,
  "alert-border": #FBEED5

));

$brand-colors: (
  facebook: (
    color: #282526,
    icon: "\f09a"
  ),
  google: (
    color: #282526,
    icon: "\f0d5"
  ),
  twitter: (
    color: #282526,
    icon: "\f099"
  ),
  rss: (
    color: #282526,
    icon: "\f09e"
  )
);


$brands: "facebook", "twitter", "google", "rss";

$fonts: (
  breakpoints: (
    handheld: $base-font-size,
    portable: $base-font-size * 1.125,
    anchored: $base-font-size * 1.25
  ),
  base: (
    h1: (
      font-size: 2.6em,
      line-height: 1.15,
      font-family: $base-font-family,
      font-weight: 900,
      letter-spacing: -1.5px,
      margin-bottom: $base-spacing-unit
    ),
    h2: (
      font-size: 2.2em,
      font-family: $base-font-family,
      font-weight: 800,
      line-height: 1,
      letter-spacing: -1.5px,
      margin-bottom: $base-spacing-unit
    ),
    h3: (
      font-size: 1.7em,
      line-weight: 500,
      font-family: $base-font-family,
      font-weight: 800,
      line-height: 1.25,
      letter-spacing: -1.15px,
      margin-bottom: $base-spacing-unit
    ),
    h4: (
      font-size: 1.5em,
      font-family: $base-font-family,
      font-weight: 800,
      line-height: 1.2,
      letter-spacing: -.8px,
      margin-bottom: $base-spacing-unit
    ),
    p: (
      font-family: $base-font-family,
      font-size: $base-font-size/16px * 1em,
      line-height: 1.4,
      letter-spacing: -.3px,
      margin-bottom: $base-spacing-unit
    ),
    li: (
      font-family: $base-font-family,
      font-size: $base-font-size/16px * 1em,
      line-height: 1.4,
      letter-spacing: -.5px,
      margin-bottom: $base-spacing-unit
    ),
    button: (
      font-family: $base-font-family,
      font-size: $base-font-size/16px * 1em,
      letter-spacing: -.5px,
    ),
    a: (
      font-family: $base-font-family,
      font-size: $base-font-size/16px * 1em,
      letter-spacing: -.5px,
    ),
    label : (
      font-family: $base-font-family,
      font-size: 1em,
      font-weight: 700,
      line-height: $line-height-ratio,
      margin-bottom: $base-spacing-unit/2
    ),
    input: (
      font-family: $base-font-family,
      font-size: 1em,
      line-height: $line-height-ratio
    )
  )
);

// type sets
$typography: (
  h1: "base",
  h2: "base",
  h3: "base",
  h4: "base",
  p: "base",
  li: "base",
  button: "base",
  a: "base",
  label: "base",
  input: "base"
);

// constraints
$constraints: (
  page: (
    max-width: $base-page-width,
  ),
  form: (
    max-width: 380px,
  )
);
