

$use-old-namespace: false; // dont use hanheld-<rule>
$use-new-namespace: true; // do use <rule>@handheld

$base-border-radius: 4px;
$base-border-size: 1px;

// colors taken from Rock
// https://github.com/NewSpring/Rock/blob/master/RockWeb/Themes/Rock/Styles/_variables.less

$colors: extend($colors, (
  "primary": #ee7624, // rock orange
  "secondary": #282526, // rock brown
  "tertiary": #c2b8a7, // rock tan


  "dark-primary": #282526,
  "dark-secondary": lighten(#000, 13.5%),
  "dark-tertiary": lighten(#000, 33.5%),

  "light-primary": #ffffff,
  "light-secondary": lighten(#000, 93.5%),
  "light-tertiary": lighten(#000, 46.7%),
));



$fonts: (
  breakpoints: (
    handheld: $base-font-size,
    portable: $base-font-size * 1.125,
    anchored: $base-font-size * 1.25
  ),
  base: (
    h1: (
      font-size: 2.25em,
      line-height: 1.05,
      font-family: "Open Sans",
      font-weight: 700,
      letter-spacing: -1.5px,
      margin-bottom: $base-spacing-unit
    ),
    h2: (
      font-size: 2em,
      font-family: "Open Sans",
      line-height: 1.25,
      letter-spacing: -1.25px,
      margin-bottom: $base-spacing-unit
    ),
    h3: (
      font-size: 1.5em,
      font-family: "Open Sans",
      line-height: 1.25,
      margin-bottom: $base-spacing-unit
    ),
    p: (
      font-size: $base-font-size/16px * 1em ,
      line-height: $line-height-ratio,
      margin-bottom: $base-spacing-unit
    )
  )
);

// type sets
$typography: (
  h1: "base",
  h2: "base",
  h3: "base",
  p: "base"
);
